@font-face {
	font-family: TT Norms Pro;
	src: url(/fonts/tt-norms-pro/regular.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: TT Norms Pro;
	src: url(/fonts/tt-norms-pro/bold.woff2) format("woff2");
	font-weight: 800;
	font-style: normal;
	font-display: swap
}

:root {
	--demo-gutter: .5rem;
	--demo-primary: #034AD8;
	--demo-secondary: #fff;
	--demo-footer: #4b5563;
	--demo-page-background: #fafafa;
	--demo-font-family: TT Norms Pro, system-ui, sans-serif;
}

/* Defaults, some borrowed from https://andy-bell.co.uk/a-more-modern-css-reset/ */
* {
	box-sizing: border-box;
}
html {
	-moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
	background-color: var(--demo-page-background);
	overflow-y: scroll;
}
body {
	font-family: system-ui, sans-serif;
	margin: 0 auto;
	padding: 0 var(--demo-gutter);
	max-width: 64em;
	min-height: 100vh;
}

/* Defaults */
ul,
ol {
  list-style-type: "";
}
h1, h2, h3, h4, h5 {
	font-family: var(--demo-font-family);
	font-weight: 800;
	text-wrap: balance;
}
p:first-child {
	margin-top: 0;
}
p:last-child {
	margin-bottom: 0;
}
a:where([href]) {
	color: inherit;
}
input, button,
textarea, select {
  font: inherit;
}
th:where(:not(:first-child)),
td:where(:not(:first-child)) {
	padding: .5em 1em;
}
:target {
  scroll-margin-block: 5ex;
}

/* Demo Styles */
.demo-main {
	padding: .75em;
	background-color: var(--demo-secondary);
	border: 1px solid #ddd;
	border-radius: .75em;
	margin: 1em 0;
}
@media (min-width: 68.75em) {
	.demo-main {
		margin-left: calc(-1 * var(--demo-gutter));
		margin-right: calc(-1 * var(--demo-gutter));
	}
}

.demo-hed {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 1em 2em;
	margin: 1em 0;
}
.demo-hed > * {
	flex-grow: 1;
}
.demo-hed-title {
	flex-grow: 9999;
	margin: 0;
}
.demo-hed-logo {
	display: flex;
}

.demo-nav {
	display: flex;
	justify-content: flex-end;
}
.demo-nav-btn {
	display: block;
	width: 100%;
	background-color: var(--demo-primary);
	font-weight: 800;
	color: var(--demo-secondary);
	font-family: var(--demo-font-family);
	padding: .5em 1.5em;
	border-radius: .5em;
	text-decoration: none;
	text-align: center;
}
@media (min-width: 37.5em) {
	.demo-nav-btn {
		display: inline;
		width: auto;
	}
}

.demo-footer {
	margin: 1rem 0;
	font-size: .875em;
	color: var(--demo-footer);
}
.demo-footer ul {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em 1em;
	padding: 0;
	margin: 0;
}

.demo-banner {
	display: block;
	text-align: center;
	background-color: var(--demo-primary);
	color: var(--demo-secondary);
	text-decoration: none;
	padding: .5em;
	padding-left: var(--demo-gutter);
	padding-right: var(--demo-gutter);
	margin-left: calc(-1 * var(--demo-gutter));
	margin-right: calc(-1 * var(--demo-gutter));
	margin-bottom: calc(3 * var(--demo-gutter));
	line-height: 1.4;
}
.demo-banner:hover,
.demo-banner:active {
	text-decoration: underline;;
}
.demo-banner:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 2.5em;
	background-color: inherit;
	z-index: -1;
}